<template>
  <q-dialog v-model="display" persistent>
    <q-card style="min-width: 700px">
      <q-card-section>
        <div class="text-h6">{{ $t("extrasTable.title") }} {{ field }}</div>
      </q-card-section>
      <q-card-section>
        <Button
          :label="$t('extrasTable.addVar')"
          @click="addLine"
          icon="fas fa-plus"
        />
      </q-card-section>
      <q-card-section>
        <q-item
          v-for="(item, index) in extras"
          :key="index"
          class="items-start"
        >
          <q-item-section>
            <q-input
              outlined
              filled
              :label="$t('extrasTable.key')"
              v-model="item['key']"
            />
          </q-item-section>
          <q-item-section>
            <q-input
              v-model="item['value']"
              filled
              autogrow
              :label="$t('extrasTable.value')"
            />
          </q-item-section>
          <q-item-section avatar class="custom-chip" style="margin-top: 15px">
            <q-btn
              round
              size="xs"
              color="negative"
              icon="fa fa-times close"
              @click="removeLineAt(index)"
            />
          </q-item-section>
        </q-item>
      </q-card-section>
      <q-card-section class="q-pt-none">
        <q-card-actions>
          <q-btn
            @click="handleSubmit"
            unelevated
            round
            color="positive"
            type="submit"
            icon="fas fa-check-circle"
          />
          <q-btn
            @click="display = false"
            unelevated
            round
            color="info"
            icon="fas fa-undo"
            v-close-popup
          />
        </q-card-actions>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script>
import Button from "components/Button";
export default {
  name: "ExtraTable",
  components: {
    Button,
  },
  props: {
    field: {
      type: String,
    },
    extras: {
      type: Array,
      default: function () {
        return [{}];
      },
    },
    index: {
      type: Number,
    },
  },
  data() {
    return {
      display: false,
    };
  },
  methods: {
    show() {
      this.display = true;
    },
    addLine() {
      this.extras.push({ key: "", value: "" });
    },
    removeLineAt(idx) {
      this.extras.splice(idx, 1);
    },
    handleSubmit() {
      this.$emit("updateExtras", { extras: this.extras, index: this.index });
      this.display = false;
    },
  },
};
</script>
