<template>
  <div>
    <Button
      style="margin-bottom: 20px"
      :label="$t('settings.setPassword')"
      @click="toggleDisplay()"
    />
    <div class="row" v-if="this.display">
      <div class="col-4">
        <q-input
          outlined
          v-model="ftpPassword"
          :label="$t('settings.password') + '*'"
          type="password"
          stack-label
          :rules="[
            (val) => !!val || $t('misc.required'),
            (val) => val.length >= 8 || '8 ' + $t('misc.minimumCharacters'),
          ]"
        >
        </q-input>
      </div>
      <div class="col-4">
        <q-btn
          style="margin-top: 6px; margin-left: 3px"
          @click="onSubmit()"
          unelevated
          round
          color="positive"
          icon="fas fa-check-circle"
        />
      </div>
    </div>
  </div>
</template>

<script>
import { Notify } from "quasar";
import Button from "components/Button";
import apiInstance from "src/api/base";
export default {
  name: "SetPassword",
  components: {
    Button,
  },
  props: {
    ftpPassword: {
      type: String,
    },
  },
  data() {
    return {
      display: false,
      // ftpPassword: "",
    };
  },
  methods: {
    toggleDisplay() {
      this.display = !this.display;
    },
    async onSubmit() {
      let response = null;
      try {
        response = await apiInstance.patch("/settings/update_ftp_password/", {
          ftp_password: this.ftpPassword,
        });
      } catch (error) {
        throw error;
      }
      if (response && response.status === 200) {
        Notify.create({
          message: this.$t("settings.passwordUpdated"),
          color: "positive",
        });
      }
      this.display = false;
    },
  },
};
</script>
