<template>
  <div>
    <q-table
      bordered
      flat
      :title="$t('groups.title')"
      :data="groups"
      :columns="columns"
      row-key="pk"
      :pagination="initialPagination"
      :loading="loading"
    >
      <template v-slot:top>
        <q-space />
        <q-btn
          unelevated
          rounded
          color="primary"
          :label="$t('groups.create')"
          size="sm"
          icon="fas fa-plus"
          :to="{ name: 'groups-create' }"
        />
      </template>
      <template v-slot:body="props">
        <q-tr :props="props">
          <q-td key="name" :props="props">
            {{ props.row.name }}
          </q-td>

          <q-td key="actions" :props="props">
            <q-btn round color="primary" size="sm" icon="fas fa-ellipsis-v">
              <q-menu anchor="bottom left" self="top left">
                <q-item
                  clickable
                  :to="{ name: 'groups-edit', params: { pk: props.row.pk } }"
                >
                  <q-item-section>{{ $t("groups.edit") }}</q-item-section>
                </q-item>
                <q-item clickable @click="onPromptDelete(props.row)">
                  <q-item-section>{{ $t("groups.delete") }}</q-item-section>
                </q-item>
              </q-menu>
            </q-btn>
          </q-td>
        </q-tr>
      </template>
    </q-table>

    <!-- Deletion dialog -->
    <q-dialog v-model="promptDelete">
      <q-card style="min-width: 350px">
        <q-card-section>
          <div class="text-h6">{{ $t("groups.promptDeleteGroupTitle") }}</div>
        </q-card-section>
        <q-card-section>
          {{ $t("groups.promptDeleteGroupContent1") }}
          {{ groupSelected.name }}.
          {{ $t("groups.promptDeleteGroupContent2") }}
        </q-card-section>
        <q-card-section class="q-pt-none">
          <q-card-actions>
            <q-btn
              unelevated
              round
              color="positive"
              icon="fas fa-check-circle"
              @click="deleteGroup(groupSelected.pk)"
            />
            <q-btn
              unelevated
              round
              color="info"
              icon="fas fa-undo"
              v-close-popup
            />
          </q-card-actions>
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import { Notify } from "quasar";
export default {
  name: "Users",
  data() {
    return {
      initialPagination: {
        sortBy: "created",
        descending: true,
        rowsPerPage: 15
      },
      columns: [
        {
          name: "name",
          label: this.$t("groups.columnTitle"),
          field: "name",
          align: "left",
          sortable: true
        },
        {
          name: "actions",
          label: ""
        }
      ],
      groups: [],
      promptDelete: false,
      promptGrantAdmin: false,
      promptRevokeAdmin: false,
      groupSelected: "",
      loading: false
    };
  },
  async mounted() {
    this.getGroups();
  },
  methods: {
    toggleStatus: function() {
      alert("Toggle status");
    },
    async getGroups() {
      this.loading = true;
      const response = await this.$apiInstance.get("/groups/");
      this.groups = response.data.map(item => {
        return item;
      });
      this.loading = false;
    },
    onPromptDelete(group) {
      this.groupSelected = group;
      this.promptDelete = true;
    },
    async deleteGroup(pk) {
      try {
        await this.$apiInstance.delete(`/groups/${pk}/`);
      } finally {
        this.groupToDelete = "";
        this.promptDelete = false;
        Notify.create({
          message: this.$t("groups.deleted"),
          color: "positive"
        });
        this.getGroups();
      }
    }
  }
};
</script>
