<template>
  <div>
    <q-table
      bordered
      flat
      :title="$t('logs.title')"
      :data="logs"
      :columns="columns"
      row-key="pk"
      :pagination.sync="pagination"
      :loading="loading"
      :binary-state-sort="true"
      @request="onRequest"
    >
      <template v-slot:body="props">
        <q-tr>
          <q-td key="action" :props="props">
            {{ props.row.action }}
          </q-td>
          <q-td key="timestamp" :props="props">
            {{ formatDate(props.row.timestamp) }}
          </q-td>
        </q-tr>
      </template>
    </q-table>
  </div>
</template>

<script>
import { date } from "quasar";
export default {
  name: "Logs",
  data() {
    return {
      pagination: {
        sortBy: "timestamp",
        descending: true,
        rowsPerPage: 15,
        page: 1,
      },
      columns: [
        {
          name: "action",
          label: this.$t("logs.entry"),
          field: "action",
          align: "left",
          sortable: false,
        },
        {
          name: "timestamp",
          label: this.$t("logs.date"),
          field: "timestamp",
          align: "left",
          sortable: true,
        },
      ],
      logs: [],
      loading: false,
    };
  },
  async mounted() {
    this.onRequest({ pagination: this.pagination });
  },
  methods: {
    async onRequest({ pagination }) {
      this.loading = true;
      const offset = (pagination.page - 1) * pagination.rowsPerPage;
      const orderBy = `${pagination.descending ? "-" : ""}${pagination.sortBy}`;
      const url = `/history/?__limit=${pagination.rowsPerPage}&__offset=${offset}&ordering=${orderBy}`;
      const response = await this.$apiInstance.get(url);
      // when rowsPerPage == 0, we get a non paginated list
      this.logs = response.data.results || response.data;
      this.pagination = { ...pagination, rowsNumber: response.data.count || response.data.length };
      this.loading = false;
    },
    formatDate(value) {
      return date.formatDate(value, "DD/MM/YYYY HH:mm");
    },
  },
};
</script>
