<template>
  <div>
    <q-table
      bordered
      flat
      :title="$t('pages.title')"
      :data="pages"
      :columns="columns"
      row-key="pk"
      :pagination="initialPagination"
      :loading="loading"
    >
      <template v-slot:top>
        <q-space />
        <q-btn
          unelevated
          rounded
          color="primary"
          :label="$t('pages.create')"
          size="sm"
          icon="fas fa-plus"
          :to="{ name: 'pages-create' }"
        />
      </template>
      <template v-slot:body="props">
        <q-tr :props="props">
          <q-td key="title" :props="props">
            {{ props.row.title }}
          </q-td>

          <q-td key="model" :props="props">
            <q-chip
              v-if="props.row.model_name"
              size="md"
              color="info"
              text-color="white"
            >
              {{ props.row.model_name }}
            </q-chip>
          </q-td>
          <q-td key="index" :props="props">
            <div v-if="props.row.is_index">
              <q-icon name="fas fa-check-circle" size="sm" color="positive" />
            </div>
          </q-td>

          <q-td key="actions" :props="props">
            <q-btn round color="primary" size="sm" icon="fas fa-ellipsis-v">
              <q-menu anchor="bottom left" self="top left">
                <q-item
                  clickable
                  :to="{ name: 'pages-edit', params: { pk: props.row.pk } }"
                >
                  <q-item-section>{{ $t("pages.edit") }}</q-item-section>
                </q-item>
                <q-item clickable @click="onPromptDelete(props.row)">
                  <q-item-section>{{ $t("pages.delete") }}</q-item-section>
                </q-item>
              </q-menu>
            </q-btn>
          </q-td>
        </q-tr>
      </template>
    </q-table>

    <!-- Deletion dialog -->
    <q-dialog v-model="promptDelete">
      <q-card style="min-width: 350px">
        <q-card-section>
          <div class="text-h6">{{ $t("pages.promptDeleteTitle") }}</div>
        </q-card-section>
        <q-card-section>
          <p v-if="!pageToDelete.model_name">
            {{ $t("pages.promptDeleteMessageNoModel") }}
          </p>
          <p v-else>
            {{ $t("pages.promptDeleteMessageWithModel") }}
          </p>
        </q-card-section>
        <q-card-section class="q-pt-none">
          <q-card-actions>
            <q-btn
              unelevated
              round
              color="positive"
              icon="fas fa-check-circle"
              @click="deletePage(pageToDelete.pk)"
            />
            <q-btn
              unelevated
              round
              color="info"
              icon="fas fa-undo"
              v-close-popup
            />
          </q-card-actions>
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import { date, Notify } from "quasar";
export default {
  name: "Pages",
  data() {
    return {
      initialPagination: {
        sortBy: "created",
        descending: true,
        rowsPerPage: 15,
      },
      columns: [
        {
          name: "title",
          label: this.$t("pages.entryTitle"),
          field: "title",
          align: "left",
          sortable: true,
        },
        {
          name: "model",
          label: this.$t("pages.entryDataModel"),
          field: "model",
          align: "left",
          sortable: true,
        },
        {
          name: "index",
          label: this.$t("pages.homepage"),
          field: "is_index",
          align: "left",
          sortable: true,
        },
        {
          name: "actions",
          label: "",
        },
      ],
      pages: [],
      promptDelete: false,
      pageToDelete: "",
      loading: false,
    };
  },
  async mounted() {
    this.getPages();
  },
  methods: {
    toggleStatus: function () {
      alert("Toggle status");
    },
    async getPages() {
      this.loading = true;
      const response = await this.$apiInstance.get(
        "/website/pages/get_parents/"
      );
      this.pages = response.data.map((item) => {
        item.created = date.formatDate(item.created, "DD/MM/YYYY");
        item.modified = date.formatDate(item.modified, "DD/MM/YYYY");
        return item;
      });
      this.loading = false;
    },
    onPromptDelete(page) {
      this.pageToDelete = page;
      this.promptDelete = true;
    },
    async deletePage(pk) {
      try {
        await this.$apiInstance.delete(`/website/pages/${pk}/`);
      } finally {
        this.pageToDelete = "";
        this.promptDelete = false;
        Notify.create({
          message: this.$t("pages.deleteConfirm"),
          color: "positive",
        });
        this.getPages();
      }
    },
  },
};
</script>
