<template>
  <div>
    <q-table
      grid
      :title="$t('permissions.title')"
      :data="permissions"
      :columns="columns"
      row-key="name"
      :pagination.sync="pagination"
    >
      <template v-slot:item="props">
        <div class="q-pa-xs col-xs-12 col-sm-4 col-md-3 q-mt-md">
          <q-card>
            <q-list bordered separator>
              <q-item>
                <q-item-section>
                  {{ $t("permissions.permissionsFor") }}
                  <strong>{{ props.row.verbose_name }}</strong>
                </q-item-section>
                <q-btn
                  round
                  outline
                  fab-mini
                  color="primary"
                  icon="fas fa-edit"
                  :to="{
                    name: 'permissions-edit',
                    params: { pk: props.row.pk },
                  }"
                />
              </q-item>
              <q-item>
                <q-item-section>{{ $t("permissions.canAdd") }}:</q-item-section>
                <q-item-section>
                  <PermissionsBadge :permissions="props.row.can_add" />
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section
                  >{{ $t("permissions.canView") }}:</q-item-section
                >
                <q-item-section
                  ><PermissionsBadge :permissions="props.row.can_view" />
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section
                  >{{ $t("permissions.canEdit") }}:
                </q-item-section>
                <q-item-section
                  ><PermissionsBadge :permissions="props.row.can_edit" />
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section
                  >{{ $t("permissions.canDelete") }}:</q-item-section
                >
                <q-item-section
                  ><PermissionsBadge :permissions="props.row.can_delete" />
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section
                  >{{
                    $t("permissions.publicModelDefinition")
                  }}:</q-item-section
                >
                <q-item-section
                  ><div>
                    <q-badge
                      v-if="props.row.is_public"
                      color="positive"
                      :label="$t('permissions.visible')"
                    />
                    <q-badge
                      v-else
                      color="negative"
                      :label="$t('permissions.notVisible')"
                    />
                  </div>
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section
                  >{{
                    $t("permissions.isCreatorVisible")
                  }}:</q-item-section
                >
                <q-item-section
                  ><div>
                    <q-badge
                      v-if="props.row.is_creator_visible"
                      color="positive"
                      :label="$t('permissions.visible')"
                    />
                    <q-badge
                      v-else
                      color="negative"
                      :label="$t('permissions.notVisible')"
                    />
                  </div>
                </q-item-section>
              </q-item>
            </q-list>
          </q-card>
        </div>
      </template>
    </q-table>
  </div>
</template>

<script>
import PermissionsBadge from "components/PermissionsBadge.vue";
export default {
  name: "Permissions",
  components: {
    PermissionsBadge,
  },
  data() {
    return {
      pagination: {
        rowsPerPage: 10,
      },
      columns: [
        {
          name: "desc",
          required: true,
          align: "left",
          field: (row) => row.verbose_name,
        },
        {
          name: "desc",
          required: true,
          align: "left",
          field: (row) => row.can_add,
        },
        {
          name: "desc",
          required: true,
          align: "left",
          field: (row) => row.can_view,
        },
        {
          name: "desc",
          required: true,
          align: "left",
          field: (row) => row.can_edit,
        },
        {
          name: "desc",
          required: true,
          align: "left",
          field: (row) => row.can_delete,
        },
        {
          name: "desc",
          required: true,
          align: "left",
          field: (row) => row.is_public,
        },
      ],
      permissions: [],
    };
  },
  async mounted() {
    this.getModels();
  },
  methods: {
    displayPermissions(permissions) {
      if (permissions.allow_everyone) {
        return "outline color='danger' label='Everyone'";
      } else {
        return "outline color='green' label='Administrators'";
      }
    },
    async getModels() {
      this.loading = true;
      const response = await this.$apiInstance.get("/permissions/");
      this.permissions = response.data.map((item) => {
        return item;
      });
      this.loading = false;
    },
  },
};
</script>
