<template>
  <div>
    <q-form autocomplete="off" @submit.prevent.stop="onSubmit">
      <p class="text-h5">
        {{ $t("permissions.permissionsFor") }} {{ permissions.verbose_name }}
      </p>

      <q-banner class="bg-grey-3 row q-mb-lg">
        <template v-slot:avatar>
          <q-icon name="fas fa-info-circle" color="primary" />
        </template>
        <p>{{ $t("permissionsEdit.info") }}</p>
        <p>{{ $t("permissionsEdit.info2") }}</p>

        <p>{{ $t("permissionsEdit.info3") }}</p>
        <p>
          {{ $t("permissionsEdit.infoEnableGroups") }}
        </p>
        <p>
          {{ $t("permissionsEdit.infoEnableGroupsOwnership") }}
        </p>
        <p v-html="$t('permissionsEdit.infoAllowEveryone')"></p>
      </q-banner>
      <q-card flat bordered class="q-pa-md q-mb-lg">
        <div>
          <p class="text-h5">{{ $t("permissions.canAdd") }}</p>
          <q-select
            outlined
            multiple
            use-chips
            emit-value
            map-options
            :label="$t('permissionsEdit.groups')"
            v-model="permissions.can_add.groups"
            :options="groups"
            lazy-rules
          />
          <q-checkbox
            outlined
            v-model="permissions.can_add.groups_own_objects"
            :label="$t('permissionsEdit.groupsOwnObject')"
            stack-label
          />
          <q-checkbox
            outlined
            v-model="permissions.can_add.allow_everyone"
            :label="$t('permissionsEdit.allowEveryone')"
            stack-label
          />
        </div>
      </q-card>
      <q-card flat bordered class="q-pa-md q-mb-lg">
        <div>
          <p class="text-h5">{{ $t("permissions.canView") }}</p>

          <q-select
            outlined
            multiple
            use-chips
            emit-value
            map-options
            :label="$t('permissionsEdit.groups')"
            v-model="permissions.can_view.groups"
            :options="groups"
            lazy-rules
          />
          <q-checkbox
            outlined
            v-model="permissions.can_view.groups_own_objects"
            :label="$t('permissionsEdit.groupsOwnObject')"
            stack-label
          />
          <q-checkbox
            outlined
            v-model="permissions.can_view.allow_everyone"
            :label="$t('permissionsEdit.allowEveryone')"
            stack-label
          />
          <q-checkbox
            outlined
            v-model="permissions.can_view.allow_creator"
            :label="$t('permissionsEdit.allowCreator')"
            stack-label
          />
        </div>
      </q-card>
      <q-card flat bordered class="q-pa-md q-mb-lg">
        <div>
          <p class="text-h5">{{ $t("permissions.canEdit") }}</p>
          <q-select
            outlined
            multiple
            use-chips
            emit-value
            map-options
            :label="$t('permissionsEdit.groups')"
            v-model="permissions.can_edit.groups"
            :options="groups"
            lazy-rules
          />
          <q-checkbox
            outlined
            v-model="permissions.can_edit.groups_own_objects"
            :label="$t('permissionsEdit.groupsOwnObject')"
            stack-label
          />
          <q-checkbox
            outlined
            v-model="permissions.can_edit.allow_everyone"
            :label="$t('permissionsEdit.allowEveryone')"
            stack-label
          />
          <q-checkbox
            outlined
            v-model="permissions.can_edit.allow_creator"
            :label="$t('permissionsEdit.allowCreator')"
            stack-label
          />
        </div>
      </q-card>
      <q-card flat bordered class="q-pa-md q-mb-lg">
        <div>
          <p class="text-h5">{{ $t("permissions.canDelete") }}</p>

          <q-select
            outlined
            multiple
            use-chips
            emit-value
            map-options
            :label="$t('permissionsEdit.groups')"
            v-model="permissions.can_delete.groups"
            :options="groups"
            lazy-rules
          />
          <q-checkbox
            outlined
            v-model="permissions.can_delete.groups_own_objects"
            :label="$t('permissionsEdit.groupsOwnObject')"
            stack-label
          />
          <q-checkbox
            outlined
            v-model="permissions.can_delete.allow_everyone"
            :label="$t('permissionsEdit.allowEveryone')"
            stack-label
          />
          <q-checkbox
            outlined
            v-model="permissions.can_delete.allow_creator"
            :label="$t('permissionsEdit.allowCreator')"
            stack-label
          />
        </div>
      </q-card>
      <q-card flat bordered class="q-pa-md q-mb-lg">
        <div>
          <p class="text-h5">{{ $t("permissionsEdit.misc") }}</p>
          <q-checkbox
            outlined
            v-model="permissions.is_public"
            :label="$t('permissions.publicModelDefinition')"
            stack-label
          />
          <q-checkbox
            outlined
            v-model="permissions.is_creator_visible"
            :label="$t('permissions.isCreatorVisible')"
            stack-label
          />
        </div>
      </q-card>
      <div class="q-gutter-md">
        <q-btn
          unelevated
          round
          color="positive"
          type="submit"
          icon="fas fa-check-circle"
        />
      </div>
    </q-form>
  </div>
</template>
<script>
import { Notify } from "quasar";
export default {
  name: "editPermissions",
  data() {
    return {
      pk: null,
      groups: [],
      permissions: {
        is_public: false,
        is_creator_visible: false,
        can_view: {
          groups: [],
          groups_own_objects: false,
          allow_everyone: false
        },
        can_add: {
          groups: [],
          groups_own_objects: false,
          allow_everyone: false
        },
        can_edit: {
          groups: [],
          groups_own_objects: false,
          allow_everyone: false
        },
        can_delete: {
          groups: [],
          groups_own_objects: false,
          allow_everyone: false
        }
      }
    };
  },
  methods: {
    onSubmit() {
      this.updatePermissions();
    },
    async updatePermissions() {
      try {
        let data = this.permissions;
        await this.$apiInstance.patch(`/permissions/${this.pk}/`, data);
        try {
          Notify.create({
            message: "Les permissions ont été mis à jour.",
            color: "positive"
          });
        } catch (e) {
          throw e;
        }
      } catch (e) {
        Notify.create({
          message: e.message,
          color: "negative"
        });
      }
    },
    async getPermissions() {
      const url = `/permissions/${this.pk}/`;
      try {
        const response = await this.$apiInstance.get(url);
        if (response.status === 200) {
          this.permissions = response.data;
          console.log(this.permissions);
        }
      } catch (error) {
        throw error;
      }
    },
    async getGroups() {
      const url = "/groups/";
      try {
        const response = await this.$apiInstance.get(url);
        if (response.status === 200) {
          response.data.map(group => {
            this.groups.push({
              label: group.name,
              value: group.pk
            });
          });
        }
      } catch (error) {
        throw error;
      }
    }
  },
  created() {
    // If this is a parent already created
    if ("pk" in this.$route.params) {
      this.pk = this.$route.params.pk;
      this.getPermissions();
      this.getGroups();
    }
  }
};
</script>
