<template>
  <div>
    <q-card flat bordered class="q-pa-md">
      <q-form autocomplete="off" @submit.prevent.stop="onSubmit" class="row">
        <div class="col q-col-gutter-y-md">
          <p class="text-h5">{{ $t("settings.siteSettings") }}</p>
          <q-input
            outlined
            v-model="settings.site_name"
            :label="$t('settings.siteName') + '*'"
            stack-label
            :rules="[(val) => !!val || $t('misc.required')]"
          >
          </q-input>
          <q-input
            outlined
            v-model="settings.site_url"
            :label="$t('settings.siteUrl') + '*'"
            :rules="[(val) => !!val || $t('misc.required')]"
            stack-label
            :hint="$t('misc.example') + ': https://www.example.com'"
          >
          </q-input>
          <q-select
            outlined
            :label="$t('settings.mainLanguage') + '*'"
            v-model="settings.primary_language"
            :options="languages"
            emit-value
            map-options
            :rules="[(val) => !!val || $t('misc.required')]"
            readonly
          />
          <q-select
            outlined
            :label="$t('settings.secondaryLanguages') + '*'"
            v-model="settings.secondary_languages"
            multiple
            use-chips
            :options="languages"
            emit-value
            map-options
          />
          <ColorInput
            :label="$t('settings.interfaceColor')"
            v-model="settings.colors.primary"
          />
          <ImageInput
            :label="$t('settings.interfaceLogo')"
            v-model="settings.logo"
          />
          <p class="text-h5">{{ $t("settings.ftpSettings") }}</p>
          <q-input
            outlined
            v-model="settings.ftp_host"
            :label="$t('settings.ftpHost') + '*'"
            stack-label
          >
          </q-input>

          <q-input
            outlined
            v-model="settings.ftp_user"
            :label="$t('settings.ftpUser') + '*'"
            stack-label
          >
          </q-input>

          <q-input
            outlined
            v-model="settings.ftp_port"
            :label="$t('settings.ftpPort') + '*'"
            type="number"
            stack-label
          >
          </q-input>

          <SetPassword />

          <div class="q-gutter-md">
            <q-btn
              unelevated
              round
              color="positive"
              type="submit"
              icon="fas fa-check-circle"
            />
          </div>
        </div>
      </q-form>
    </q-card>
  </div>
</template>

<script>
import { Notify } from "quasar";
import ColorInput from "components/form/inputs/ColorInput";
import ImageInput from "components/form/inputs/ImageInput";
import SetPassword from "components/form/SetPassword";
import { blend_colors, updateBrand } from "src/utils/helpers";

export default {
  name: "editSettings",
  components: { ColorInput, ImageInput, SetPassword },
  data() {
    return {
      defaultPassword: "default_password",
      defaultColors: {
        secondary: "#26a69a",
        accent: "#9c27b0",
        dark: "#1d1d1d",
        positive: "#21ba45",
        negative: "#ff7676",
        info: "#31ccec",
        warning: "#f2c037",
      },
      settings: {
        ftp_host: "",
        ftp_user: "",
        ftp_port: 21,
        logo: "",
        colors: { primary: "" },
        primary_language: "",
        secondary_languages: [],
        site_name: "",
        site_url: "",
      },
      ftpPassword: "",
      languages: [],
    };
  },
  created() {
    this.getSettings();
    this.getLanguages();
  },
  methods: {
    onSubmit() {
      this.updateSettings();
    },
    onSubmitPassword() {
      this.updatePassword();
    },
    updatePrimaryColor(color) {
      this.settings.colors["primary"] = color;
    },
    async updateSettings() {
      let response = null;
      let settingsData = this.settings;

      // If user has selected a custom primary color, blend the current theme with it

      const primary = this.settings.colors["primary"];
      if (primary != "") {
        const colors = this.defaultColors;
        const primary = this.settings.colors["primary"];
        for (const key in colors) {
          settingsData.colors[key] = blend_colors(primary, colors[key]);
        }
      }

      // Remove password from data if password is still the default one
      if (settingsData.ftp_password === this.defaultPassword) {
        delete settingsData.ftp_password;
      }
      if (settingsData.ftp_port == "") {
        settings.ftp_port = 21;
      }

      try {
        response = await this.$store.dispatch(
          "settings/updateSettings",
          settingsData
        );
      } catch (error) {
        if (error.response.status === 400) {
          Notify.create({
            message: error.response.data.non_field_errors,
            color: "negative",
          });
        }
        throw error;
      }
      if (response && response.status === 200) {
        // Update theme with custom colors if needed
        if (primary != "") {
          updateBrand(settingsData.colors);
        }

        // Update international store with languages
        await this.$store.dispatch("settings/getLanguages");
        Notify.create({
          message: this.$t("settings.updated"),
          color: "positive",
        });
      }
    },
    async getSettings() {
      this.settings = await this.$store.state.settings.settings;
      // Fill with a default string so the user thinks the password is already filled
      this.settings.ftp_password = this.defaultPassword;
    },
    async getLanguages() {
      try {
        const response = await this.$apiInstance.get(
          "/international/languages/"
        );
        if (response.status === 200) {
          this.languages = response.data.map((item) => {
            return { label: item.name, value: item.pk };
          });
        }
      } catch (error) {
        throw error;
      }
    },
  },
};
</script>
