<template>
  <div>
    <q-table
      bordered
      flat
      :title="$t('users.title')"
      :data="users"
      :columns="columns"
      row-key="pk"
      :pagination="initialPagination"
      :loading="loading"
    >
      <template v-slot:top>
        <q-space />
        <q-btn
          unelevated
          rounded
          color="primary"
          :label="$t('users.create')"
          size="sm"
          icon="fas fa-plus"
          :to="{ name: 'users-create' }"
        />
      </template>
      <template v-slot:body="props">
        <q-tr :props="props">
          <q-td key="first_name" :props="props">
            {{ props.row.first_name }}
          </q-td>

          <q-td key="last_name" :props="props">
            {{ props.row.last_name }}
          </q-td>

          <q-td key="email" :props="props">
            {{ props.row.email }}
          </q-td>

          <q-td key="is_confirmed" :props="props">
            <q-icon
              v-if="props.row.is_confirmed == true"
              name="fas fa-check-circle"
              size="sm"
              color="positive"
            />
            <q-icon
              v-else
              name="fas fa-times-circle"
              size="sm"
              color="negative"
            />
          </q-td>

          <q-td key="is_admin" :props="props">
            <q-badge
              v-if="props.row.is_admin == true"
              color="primary"
              text-color="white"
              >{{ $t("users.admin") }}</q-badge
            >
            <q-badge v-else-if="props.row.groups.length === 0" color="info" text-color="white">{{
              $t("users.reuser")
            }}</q-badge>
            <q-badge v-else color="secondary" text-color="white">{{
              $t("users.producer")
            }}</q-badge>
          </q-td>

          <q-td key="actions" :props="props">
            <q-btn round color="primary" size="sm" icon="fas fa-ellipsis-v">
              <q-menu anchor="bottom left" self="top left">
                <q-item
                  clickable
                  :to="{ name: 'users-edit', params: { pk: props.row.pk } }"
                >
                  <q-item-section>{{ $t("users.edit") }}</q-item-section>
                </q-item>
                <q-item clickable @click="onPromptDelete(props.row)">
                  <q-item-section>{{ $t("users.delete") }}</q-item-section>
                </q-item>
                <q-item
                  v-if="props.row.is_admin"
                  clickable
                  @click="onPromptRevokeAdmin(props.row)"
                >
                  <q-item-section>{{ $t("users.revokeAdmin") }}</q-item-section>
                </q-item>
                <q-item v-else clickable @click="onPromptGrantAdmin(props.row)">
                  <q-item-section>{{ $t("users.grantAdmin") }}</q-item-section>
                </q-item>
              </q-menu>
            </q-btn>
          </q-td>
        </q-tr>
      </template>
    </q-table>

    <!-- Deletion dialog -->
    <q-dialog v-model="promptDelete">
      <q-card style="min-width: 350px">
        <q-card-section>
          <div class="text-h6">
            {{ $t("users.promptDeleteTitle") }}
          </div>
        </q-card-section>
        <q-card-section>
          {{ $t("users.promptDeleteContent1") }} {{ userSelected.email }}.
          {{ $t("users.promptDeleteContent2") }}
        </q-card-section>
        <q-card-section class="q-pt-none">
          <q-card-actions>
            <q-btn
              unelevated
              round
              color="positive"
              icon="fas fa-check-circle"
              @click="deleteUser(userSelected.pk)"
            />
            <q-btn
              unelevated
              round
              color="info"
              icon="fas fa-undo"
              v-close-popup
            />
          </q-card-actions>
        </q-card-section>
      </q-card>
    </q-dialog>

    <!-- Revoke admin dialog -->
    <q-dialog v-model="promptRevokeAdmin">
      <q-card style="min-width: 350px">
        <q-card-section>
          <div class="text-h6">
            {{ $t("users.promptRevokeAdminTitle") }}
          </div>
        </q-card-section>
        <q-card-section>
          {{ $t("users.promptRevokeAdminContent1") }} {{ userSelected.email }}.
          {{ $t("users.promptRevokeAdminContent2") }}
        </q-card-section>
        <q-card-section class="q-pt-none">
          <q-card-actions>
            <q-btn
              unelevated
              round
              color="positive"
              icon="fas fa-check-circle"
              @click="toggleAdmin(userSelected.pk)"
            />
            <q-btn
              unelevated
              round
              color="info"
              icon="fas fa-undo"
              v-close-popup
            />
          </q-card-actions>
        </q-card-section>
      </q-card>
    </q-dialog>

    <!-- Grant admin dialog -->
    <q-dialog v-model="promptGrantAdmin">
      <q-card style="min-width: 350px">
        <q-card-section>
          <div class="text-h6">
            {{ $t("users.promptGrantAdminTitle") }}
          </div>
        </q-card-section>
        <q-card-section>
          {{ $t("users.promptGrantAdminContent1") }} {{ userSelected.email }}.
          {{ $t("users.promptGrantAdminContent2") }}
        </q-card-section>
        <q-card-section class="q-pt-none">
          <q-card-actions>
            <q-btn
              unelevated
              round
              color="positive"
              icon="fas fa-check-circle"
              @click="toggleAdmin(userSelected.pk)"
            />
            <q-btn
              unelevated
              round
              color="info"
              icon="fas fa-undo"
              v-close-popup
            />
          </q-card-actions>
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import { date, Notify } from "quasar";
export default {
  name: "Users",
  data() {
    return {
      initialPagination: {
        sortBy: "created",
        descending: true,
        rowsPerPage: 15
      },
      columns: [
        {
          name: "first_name",
          label: this.$t("users.firstName"),
          field: "first_name",
          align: "left",
          sortable: true
        },
        {
          name: "last_name",
          label: this.$t("users.lastName"),
          field: "last_name",
          align: "left",
          sortable: true
        },
        {
          name: "email",
          label: this.$t("users.email"),
          field: "email",
          align: "left",
          sortable: true
        },
        {
          name: "is_confirmed",
          label: this.$t("users.emailConfirmed"),
          field: "is_confirmed",
          align: "left",
          sortable: true
        },
        {
          name: "is_admin",
          label: this.$t("users.role"),
          field: "is_admin",
          align: "left",
          sortable: true
        },
        {
          name: "actions",
          label: ""
        }
      ],
      users: [],
      promptDelete: false,
      promptGrantAdmin: false,
      promptRevokeAdmin: false,
      userSelected: "",
      loading: false
    };
  },
  async mounted() {
    this.getUsers();
  },
  methods: {
    toggleStatus: function() {
      alert("Toggle status");
    },
    async getUsers() {
      this.loading = true;
      const response = await this.$apiInstance.get("/auth/users/");
      this.users = response.data.map(item => {
        item.created = date.formatDate(item.created, "DD/MM/YYYY");
        item.modified = date.formatDate(item.modified, "DD/MM/YYYY");
        return item;
      });
      this.loading = false;
    },
    onPromptDelete(user) {
      this.userSelected = user;
      this.promptDelete = true;
    },
    onPromptGrantAdmin(user) {
      this.userSelected = user;
      this.promptGrantAdmin = true;
    },
    onPromptRevokeAdmin(user) {
      this.userSelected = user;
      this.promptRevokeAdmin = true;
    },
    async deleteUser(pk) {
      try {
        await this.$apiInstance.delete(`/auth/users/${pk}/`);
      } finally {
        this.userToDelete = "";
        this.promptDelete = false;
        Notify.create({
          message: this.$t("users.confirmedDeletion"),
          color: "positive"
        });
        this.getUsers();
      }
    },
    async toggleAdmin(pk) {
      try {
        await this.$apiInstance.get(`/auth/users/${pk}/toggle_admin/`);
      } finally {
        this.userSelected = "";
        this.promptRevokeAdmin = this.promptGrantAdmin = false;
        Notify.create({
          message: this.$t("users.confirmedToggleAdminRights"),
          color: "positive"
        });
        this.getUsers();
      }
    }
  }
};
</script>
