<template>
  <div>
    <q-item>
      <q-item-section side>
        <q-avatar
          color="primary"
          text-color="white"
          icon="fas fa-user-circle"
          size="48px"
        />
      </q-item-section>
      <q-item-section>
        <q-item-label
          >{{ $t("welcome.welcome") }} {{ firstName }} !</q-item-label
        >
      </q-item-section>
    </q-item>
  </div>
</template>

<script>
export default {
  name: "Welcome",
  data() {
    return {
      firstName: this.$store.getters["auth/user"].first_name,
    };
  },
};
</script>

<style scoped>
.q-item {
  margin-bottom: 10px;
}
</style>
