<!DOCTYPE html>
<html lang="{{ lang }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {# Description de la page ou du modèle (si page multiple) #}
    <meta name="description" content="{{ description }}" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    {# Open Graph / Facebook #}
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:title" content="{{ title }} - {{ site_name }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:image" content="">

    {# Twitter cards #}
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="">
    <meta property="twitter:title" content="{{ title }} - {{ site_name }}">
    <meta property="twitter:description" content="{{ description }}">
    <meta property="twitter:image" content="">
  
    {# Titre de la page ou du modèle (si page multiple) #}
    <title>{{ title }} - {{ site_name }}</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
    <link rel="manifest" href="/assets/images/site.webmanifest">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link href="/assets/css/styles.css" rel="stylesheet">
  </head>

  <body>

    {# On demande à ce que le contenu du fichier header.html soit injecté ici (voir ligne 1) #}
    {% include "header.html" with context %}
  
    {# Ce bloc sera remplacé par le contenu du bloc d'un template qui héritera de base.html #}
    {% block content%}{% endblock %}

    {# Voir le commentaire du header #}
    {% include "footer.html" with context %}

  </body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

</html>
