{# Ce template hérite de base.html #}
{% extends 'base.html' %}

{# Le template héritant de base.html, ce bloc sera injecté dans le bloc "content" de base.html #}
{% block content %}

<main>

    <section class="py-5">
        <div class="container">
        <h1>Bienvenue sur le site généré à partir du thème de base.</h1>
        <p class="lead">Vous êtes sur la page d'accueil.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, suscipit, rerum quos facilis repellat architecto commodi officia atque nemo facere eum non illo voluptatem quae delectus odit vel itaque amet.</p>
        </div>
    </section>

    <div class="py-5 bg-image-full" style="background-image: url('/assets/images/home.jpg');">
        <div style="height: 200px;"></div>
    </div>

    <section class="py-5">
        <div class="container">
        <h1>Plutôt cool, non ?</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, suscipit, rerum quos facilis repellat architecto commodi officia atque nemo facere eum non illo voluptatem quae delectus odit vel itaque amet.</p>
        </div>
    </section>
</main>

{% endblock %}
