<ul class="navbar-nav ml-auto">
    <li class="nav-item active">
        <a class="nav-link" href="/en/">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/en/blog/">Blog</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/en/contact/">Contact</a>
    </li>
</ul>