<template>
  <q-page class="flex flex-center">
    <div v-if="!umamiUrl">
      Welcome
    </div>
    <div id="container" v-else>
      <iframe 
        id="iframe-responsive"
        frameborder=0
        :src="umamiUrl"
      >
      </iframe>
    </div>
  </q-page>
</template>

<script>
export default {
  name: "Dashboard",
  data() {
    return {
      umamiUrl: ""
    };
  },
  created() {
    this.umamiUrl = this.$store.state.settings.settings.umami_url;
  }
};
</script>

<style scoped>
.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
#iframe-responsive {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
</style>
