<template>
  <div class="fixed-center text-center">
    <p>
      <img src="~assets/logo.png" style="width: 30vw; max-width: 250px" />
    </p>
    <p class="text-faded">{{ $t("404.message") }}<strong>(404)</strong></p>
    <q-btn
      color="primary"
      :to="{ name: 'models-list' }"
      :label="$t('404.return')"
    />
  </div>
</template>

<script>
export default {
  name: "Error404",
};
</script>
