<template>
  <q-page padding>
    <div v-if="showInternationalLinks">
      <q-tabs
        dense
        class="text-grey"
        active-color="primary"
        indicator-color="primary"
        align="justify"
        narrow-indicator
      >
        <q-route-tab
          :to="{ name: viewName, params: { pk: pk } }"
          :name="languages.primary_language.name"
          :label="languages.primary_language.name"
        />
        <q-route-tab
          v-for="item in languages.secondary_languages"
          :key="item.code"
          :name="item.name"
          :label="item.name"
          :to="{
            name: internationalViewName,
            params: { parentPk: pk, langCode: item.code }
          }"
        />
      </q-tabs>

      <router-view />
    </div>
    <div v-else>
      <router-view />
    </div>
  </q-page>
</template>

<script>
export default {
  data() {
    return {
      languages: {},
      showInternationalLinks: false,
      type: "",
      pk: "",
      viewName: "",
      internationalViewName: "",
      keyComponent: 0
    };
  },
  created() {
    this.languages = this.$store.state.settings.languages;
    this.processPath();
  },
  methods: {
    processPath() {
      // https://regexr.com/
      const pageEditRegex = /pages\/edit\/[0-9]{0,}/g;
      const modelitemEditRegex = /modelitems\/[0-9a-z_]{0,}\/edit\/[0-9]{0,}/g;
      const isPageEdit = this.$route.fullPath.match(pageEditRegex);
      const isModelitemEdit = this.$route.fullPath.match(modelitemEditRegex);
      const hasMultipleLanguage = this.languages.secondary_languages.length > 0;

      if (isPageEdit && hasMultipleLanguage) {
        this.showInternationalLinks = true;
        this.viewName = "pages-edit";
        this.internationalViewName = "pages-international-edit";
        this.pk = this.$route.params.pk || this.$route.params.parentPk;
      } else if (isModelitemEdit && hasMultipleLanguage) {
        this.showInternationalLinks = true;
        this.viewName = "modelitems-edit";
        this.internationalViewName = "modelitems-international-edit";
        this.pk = this.$route.params.pk || this.$route.params.parentPk;
      }
    }
  }
};
</script>
