<template>
  <div>
    <q-select
      :value="value"
      multiple
      use-chips
      outlined
      emit-value
      map-options
      :label="label"
      :options="options"
      :options-dense="true"
      :rules="rules"
      @input="handleInput"
    >
    </q-select>
  </div>
</template>

<script>
export default {
  name: "ManytooneInput",
  props: {
    label: {
      type: String,
      required: true,
    },
    value: {
      type: Array,
      default() {
        return [];
      },
    },
    required: {
      type: Boolean,
      default: false,
    },
    modelPk: {
      type: Number,
      required: true,
    },
    langCode: {
      type: String,
      default: null,
    },
    rules: {
      type: Array,
      default: function () {
        let rules = [];
        if (this.required == true) {
          rules.push((val) => (val && val.length) || $t("misc.required"));
        }
        return rules;
      },
    },
  },
  data() {
    return {
      options: [],
    };
  },
  watch: {
    langCode(value) {
      if (value !== null) {
        this.getOptions();
      }
    },
  },

  methods: {
    handleInput(e) {
      this.$emit("input", e);
    },
    async getOptions() {
      try {
        const response = await this.$apiInstance.get(
          `/website/modelitems/${this.modelPk}/lang/${this.langCode}/`
        );
        if (response.status === 200) {
          response.data.map((item) => {
            this.options.push({ label: item.data.title, value: item.pk });
          });
        } else {
          this.options = [];
        }
      } catch (error) {
        throw error;
      }
    },
  },
};
</script>
