<template>
  <div>
    <q-card flat bordered style="padding: 10px">
      <p class="q-q-field__label no-pointer-events">
        {{ label }}
      </p>
      <q-input style="display: None" v-model="imageUrl" />

      <q-card-section>
        <div v-if="loading" style="display: flex; justify-content: center">
          <q-spinner color="primary" size="3em" :thickness="10" />
        </div>
        <div v-else style="display: flex; justify-content: center">
          <q-img
            style="width: 20%"
            v-if="imageUrl"
            :src="imageUrl"
            spinner-color="primary"
            class="rounded-borders"
          >
          </q-img>
          <q-icon
            v-else
            name="fas fa-image"
            class="text-primary"
            style="font-size: 5rem"
          />
        </div>
      </q-card-section>
      <q-separator inset />
      <q-card-section>
        <q-file
          outlined
          :label="$t('imageInput.send')"
          :hint="$t('imageInput.sendHint')"
          :error-message="$t('imageInput.sendError')"
          accept="image/*"
          max-file-size="2000000"
          @input="handleUpload"
          @rejected="onReject"
          :error="error"
          :required="isRequired"
        >
          <template v-slot:prepend>
            <q-avatar>
              <q-icon name="fas fa-image" />
            </q-avatar>
          </template>
        </q-file>
        <q-btn
          v-if="imageUrl"
          id="delete-image"
          color="red"
          text-color="white"
          :label="$t('imageInput.delete')"
          @click.stop.prevent="deleteImage"
        />
      </q-card-section>
    </q-card>
  </div>
</template>

<script>
export default {
  name: "ImageInput",
  props: {
    label: {
      type: String,
      required: true,
    },
    value: {
      type: String,
      default: null,
    },
    required: {
      type: Boolean,
    },
  },
  data() {
    return {
      imageUrl: this.value,
      loading: false,
      error: false,
      isRequired: this.required,
    };
  },
  watch: {
    value: function (val) {
      this.imageUrl = val;
      // If the image exists, the value is not in the input
      // We don't need it to be required even if there's nothing
      // inside
      if (val && val.length > 0) {
        this.isRequired = false;
      }
    },
  },
  methods: {
    handleUpload(event) {
      this.postImage(event);
    },
    async postImage(event) {
      let formData = new FormData();
      formData.append("image", event);
      let response = null;
      try {
        this.loading = true;
        response = await this.$apiInstance.post(`/website/images/`, formData, {
          headers: {
            "Content-Type": "multipart/form-data",
          },
        });
        if (response.status === 201) {
          this.imageUrl = response.data.image;
          this.$emit("input", this.imageUrl);
        }
      } catch (error) {
        response = error.response;
      } finally {
        this.loading = false;
      }
    },
    onReject() {
      this.error = true;
      setTimeout(() => {
        this.error = false;
      }, 4000);
    },
    // warning: this does not delete image from storage
    deleteImage() {
      this.imageUrl = null;
      this.$emit("input", this.imageUrl);
      this.isRequired = this.required;
    },
  },
};
</script>

<style scoped>
#delete-image {
  margin-top: 20px;
}
</style>
