<template>
  <div>
    <q-select
      :value="value"
      multiple
      use-chips
      outlined
      :label="label"
      :options="choices"
      :options-dense="true"
      :rules="rules"
      @input="handleInput"
    >
    </q-select>
  </div>
</template>

<script>
export default {
  name: "MultiplechoiceInput",
  props: {
    label: {
      type: String,
      required: true,
    },
    value: {
      type: Array,
      default() {
        return [];
      },
    },
    required: {
      type: Boolean,
      default: false,
    },
    choices: {
      type: Array,
    },
    rules: {
      type: Array,
      default: function () {
        let rules = [];
        if (this.required == true) {
          rules.push((val) => (val && val.length) || $t("misc.required"));
        }
        return rules;
      },
    },
  },
  methods: {
    handleInput(e) {
      this.$emit("input", e);
    },
  },
};
</script>
