<template>
  <div>
    <q-input
      :value="value"
      outlined
      :label="label"
      :autogrow="autogrow"
      :hint="hint"
      :rules="rules"
      @input="handleInput"
    >
    </q-input>
  </div>
</template>

<script>
export default {
  name: "TextInput",
  props: {
    label: {
      type: String,
      required: true,
    },
    value: {
      type: String,
      default: "",
    },
    required: {
      type: Boolean,
      default: false,
    },
    hint: {
      type: String,
      default: "",
    },
    autogrow: {
      type: Boolean,
      default: true,
    },
    rules: {
      type: Array,
      default: function () {
        let rules = [];
        if (this.required == true) {
          rules.push((val) => (val && val.length) || $t("misc.required"));
        }
        return rules;
      },
    },
  },
  methods: {
    handleInput(e) {
      this.$emit("input", e);
    },
  },
};
</script>
