<template>
  <div>
    <p class="q-q-field__label no-pointer-events">
      {{ label }}
    </p>
    <form
      autocorrect="off"
      autocapitalize="off"
      autocomplete="off"
      spellcheck="true"
    >
      <q-editor
        class="editor-normal"
        ref="editorRef"
        @input="handleInput"
        :value="value"
        min-height="10rem"
        :dense="$q.screen.lt.md"
        @blur="checkContent"
        @mouseover="checkContent"
        @paste="(evt) => pasteCapture(evt)"
        :toolbar="[
          [
            {
              label: $q.lang.editor.align,
              icon: $q.iconSet.editor.align,
              fixedLabel: true,
              list: 'only-icons',
              options: ['left', 'center', 'right', 'justify'],
            },
          ],
          ['bold', 'italic', 'strike', 'underline'],
          ['token', 'hr', 'link'],
          ['unordered', 'ordered'],
          ['removeFormat'],
          ['undo', 'redo'],
          ['viewsource'],
        ]"
      />
      <div v-if="errorMessage" class="error-message text-red">
        <div>{{ errorMessage }}</div>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  name: "Wysiwyg",
  props: {
    label: {
      type: String,
      required: true,
    },
    value: {
      type: String,
      default: "",
    },
    required: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      errorMessage: null,
    };
  },
  methods: {
    checkContent() {
      const editor = this.$refs.editorRef.$el;
      if (this.required && (this.value.length == 0 || this.value == "<br>")) {
        this.errorMessage = this.$t("misc.required");
        editor.classList.add("editor-warning");
        editor.classList.remove("editor-normal");
      } else {
        this.errorMessage = null;
        editor.classList.add("editor-normal");
        editor.classList.remove("editor-warning");
      }
    },
    handleInput(e) {
      this.$emit("input", e);
    },
    /**
     * Capture the <CTL-V> paste event, only allow plain-text, no images.
     *
     * see: https://stackoverflow.com/a/28213320
     *
     * @param {object} evt - array of files
     * @author Daniel Thompson-Yvetot
     * @license MIT
     */
    pasteCapture(evt) {
      // Let inputs do their thing, so we don't break pasting of links.
      if (evt.target.nodeName === "INPUT") return;
      let text, onPasteStripFormattingIEPaste;
      evt.preventDefault();
      if (evt.originalEvent && evt.originalEvent.clipboardData.getData) {
        text = evt.originalEvent.clipboardData.getData("text/plain");
        this.$refs.editorRef.value.runCmd("insertText", text);
      } else if (evt.clipboardData && evt.clipboardData.getData) {
        text = evt.clipboardData.getData("text/plain");
        this.$refs.editorRef.runCmd("insertText", text);
      } else if (window.clipboardData && window.clipboardData.getData) {
        if (!onPasteStripFormattingIEPaste) {
          onPasteStripFormattingIEPaste = true;
          this.$refs.editorRef.runCmd("ms-pasteTextOnly", text);
        }
        onPasteStripFormattingIEPaste = false;
      }
    },
  },
};
</script>

<style scoped>
.error-message {
  margin-left: 10px;
  margin-top: 3px;
  font-size: 12px;
}
.editor-normal {
  border: 1px solid rgb(194, 194, 194);
}
.editor-warning {
  border: 2px solid rgb(255, 118, 118);
}
</style>

lba77100@gmail.com
